<script defer src="https://cloud.umami.is/script.js" data-website-id="27dcef76-7ecf-4267-a406-5b375e5e9956"></script>

<style>
    @font-face {
        font-family: 'GeistPixel';
        src: url('/fonts/GeistPixel-Grid.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    :root {
        --font-family-body: 'GeistPixel', sans-serif;
        --font-family-heading: 'GeistPixel', sans-serif;
    }

    body, h1, h2, h3, h4, h5, h6, .menu a, code{
        font-family: 'GeistPixel', sans-serif !important;
    }

    .article-content p,
    .article-content li {
        font-family: 'GeistPixel', sans-serif !important;
    }
</style>